[submodule "Ascent"]
	path = Ascent
	url = https://github.com/AnyarInc/Ascent
[submodule "ensmallen"]
	path = ensmallen
	url = https://github.com/mlpack/ensmallen
[submodule "armadillo-code"]
	path = armadillo-code
	url = https://gitlab.com/conradsnicta/armadillo-code
